<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            [attr.data-bs-target]="'#collapse' + id" aria-expanded="false" [attr.aria-controls]="'collapse' + id">
            Bolsillo #{{id + 1}}
        </button>
    </h2>
    <div [id]="'collapse' + id" class="accordion-collapse collapse" [attr.aria-labelledby]="'heading' + id"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <p>poket works!</p>
        </div>
    </div>
</div>