<div class="container">
    <div class="card p-4">
        <h3>Tus Pokemon</h3>
        <div *ngIf="poket.length === 0">
            Nada por aqui...
        </div>
        <ul *ngIf="poket.length != 0" class="list-group">
            <li *ngFor="let pokemon of poket" class="list-group-item">
                <div class="row align-items-center">
                    <div class="col-6">
                        <h5>{{pokemon.name}}</h5>
                    </div>
                    <div class="col-2">
                        <small style="width: 20px;"><img [src]="pokemon.image" [alt]="pokemon.name"></small>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>