<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Id</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Altura</th>
            <th>Peso</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pokemon of pokemonList">
            <td><img src="{{pokemon.image}}" alt="{{pokemon.name}}"></td>
            <td>{{pokemon.id}}</td>
            <td>{{pokemon.name}}</td>
            <td>{{pokemon.type}}</td>
            <td>{{pokemon.height}}</td>
            <td>{{pokemon.weight}}</td>
            <td></td>
        </tr>
    </tbody>
</table>